.themeToggle {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    transition:
        color 0.3s ease,
        transform 0.3s ease;
    color: var(--theme-icon-color);
}

.themeToggle svg {
    display: block;
}

.themeToggle:hover {
    transform: scale(1.1);
}
