.chart {
    --width: 600px;
    --height: 300px;

    width: var(--width);
    height: var(--height);
    max-width: 100%;
    max-height: 100%;
}

.sm {
    --width: 300px;
    --height: 150px;
}

.md {
}

.lg {
    --width: 800px;
    --height: 400px;
}
