.tooltip {
    width: 230px;
}

.title {
    margin-bottom: 0.5rem;
}

.tooltip:not(:last-child) {
    margin-bottom: 0.5rem;
}

.tooltip-item {
    display: grid;
    grid-template-columns: min-content auto;
    align-items: center;
    gap: 0.25rem;
    font-weight: normal;
}

.header {
    display: flex;
    align-items: center;
    padding-bottom: 12px;
    margin-bottom: 8px;
    gap: 8px;
    border-bottom: 1px solid var(--chart-line-color);
    color: #5e5d67;
}

.date {
    font-weight: 400;
    font-size: 14px;
}

.tooltipItem svg {
    margin-right: 10px;
    flex-shrink: 0;
}

.tooltipItem > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

.tooltipItem span:first-child {
    color: #333;
    margin-right: auto;
}

.tooltipItem span:last-child {
    font-weight: bold;
    color: #5e5d67;
    white-space: nowrap;
}

/* .tooltip-list-container > span {
    font-weight: 400 !important;
} */

.tooltipItem {
    display: flex;
    align-items: center;
    padding: 10px 0;
    /* border: 1px dotted #e1dfe7;
    margin-bottom: 8px;
    border-radius: 4px; */
}

.tooltipItem {
    border: none;
    padding: 8px 4px;
    margin-bottom: 8px;
    position: relative;
}

.tooltipItem::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none; /* Чтобы рамка не перехватывала события мыши */

    /* Создание верхней и нижней пунктирной линии */
    background: 
    /* Верхняя линия */
        linear-gradient(to right, var(--chart-line-color) 75%, rgba(255, 255, 255, 0) 0%) top left / 5px 1px repeat-x,
        /* Нижняя линия */ linear-gradient(to right, var(--chart-line-color) 75%, rgba(255, 255, 255, 0) 0%) bottom
            left / 5px 1px repeat-x,
        /* Левая линия */ linear-gradient(to bottom, var(--chart-line-color) 75%, rgba(255, 255, 255, 0) 0%) top left /
            1px 5px repeat-y,
        /* Правая линия */ linear-gradient(to bottom, var(--chart-line-color) 75%, rgba(255, 255, 255, 0) 0%) top
            right / 1px 5px repeat-y;
}
.container {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.label {
    display: inline-flex;
    align-items: center;
    gap: 12px;
}

.chartTooltip {
    background-color: var(--select-bg) !important;
}

.chartTooltip {
    background-color: var(--select-bg) !important;
}

.chartTooltip .icon {
    fill: var(--icon-color) !important;
}

.chartTooltip span {
    color: var(--select-color) !important;
}
